* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #8008b8;
}

header {
    background-color:  #8008b8;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    text-align: center;
    font-size: 2em;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    padding: 5px 10px;
    text-align: center;
}

nav ul li a:hover, nav ul li a.active {
    background-color:  #000000;
    border-radius: 5px;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color:  #8008b8;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
}

.hero-image {
    max-width: 551px;
    height: 551px;
    margin-bottom: 20px;
}
